{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
  background-color: #ffffff;
}

.cd-form {
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
  display: block;
}

.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-form div {
  position: relative;
  margin: 20px 0;
}

.cd-form input, .cd-form select {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
}

.cd-form input[type="text"],
.cd-form input[type="password"],
.cd-form input[type="email"],
.cd-form input[type="number"],
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

}

.cd-form input[type="text"],
.cd-form input[type="password"],
.cd-form input[type="email"],
.cd-form input[type="number"],
.cd-form select {
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  

}

.cd-form input[type="submit"] {
  border: none;
  background: #87CEEB;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}



}